<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShowAllDrives" value="False" />
    <add key="UseBinaryString" value="True" />
    <add key="CharLimit" value="256" />
    <add key="ProductIdMaxLength" value="10" />
    <add key="TruncateMenuGDI" value="True" />
    <add key="Debug" value="False" />
    <add key="LockCheck" value="True" />
    <add key="TempFolder" value="" />
    <add key="EnableGDIShrink" value="False" />
    <add key="EnableGDIShrinkCompressed" value="True" />
    <add key="EnableGDIShrinkBlackList" value="True" />
    <add key="EnableGDIShrinkExisting" value="False" />
    <add key="EnableRegionPatch" value="False" />
    <add key="EnableRegionPatchExisting" value="False" />
    <add key="EnableVgaPatch" value="False" />
    <add key="EnableVgaPatchExisting" value="False" />
    <add key="WindowLeft" value="" />
    <add key="WindowTop" value="" />
    <add key="WindowWidth" value="" />
    <add key="WindowHeight" value="" />
    <add key="SkippedUpdateVersion" value="" />
    <add key="UpdateRepoOverride" value="" />
    <add key="PALVersion" value="True" />
  </appSettings>
</configuration>